@use '~/base_scss/_mixin';

.loginRight {
  height: 100vh;
  flex-direction: column;
  background-color: #ffffff;

  @include mixin.center;

  .loginTitle {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
  }

  form {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .loginRight {
    .loginTitle {
      font-size: 18px;
      margin-bottom: 30px;
    }
    form {
      width: 100%;
    }
  }
}
